html{
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug-gedebug p {
  text-align: justify;
}

.container {
    margin-top: 200px;
    margin-left: 200px;
  display: flex;
  justify-content: left;
  align-items: left;
  height: calc(100vh-9vh);
}

.debug-gedebug {
  text-align: left;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}   

h1 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background-size: 400% 400%;
  background-attachment: fixed;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.navbar{
    height: 9vh;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.navbar a{
    border-radius: 5px;
    transition: color 0.5s;
    font-size: 25px;
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}

.navbar a:hover{
    transition: 0.5s;
    background-color: aliceblue;
    color:#333;
}

.logo{
  height: 10%;
  margin-right: 10px;
  width: auto;
}